.main-header {
    height: 5em;
    width: 100%;
    background-color: var(--themeclr);
    color: white;
    margin-bottom: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-header-container{
    margin-left: 1.5em;
    margin-right: 1.5em;
    height: 100%;
}

li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

li a:hover{
    color: black
}