.meme-editor-container {
  display: none;
}

.buttons-container {
  width: 325px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  grid-template-areas:
    "txt          txt         txt         txt         txt"
    "switch-line  add-line    remove-line line-down    line-up"
    "size         size        al          ac           ar"
    "font         font        sticker     color-label color-select"
    "upload        upload     facebook    download     download"
    "p            p           p           p           lang ";
}

.text {
  grid-area: txt;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2em;
  border-radius: 0.5em;
  text-align: center;
}

.switch-line {
  grid-area: switch-line;
}

.new-line {
  grid-area: add-line;
}

.remove-line {
  grid-area: remove-line;
}

.line-down {
  grid-area: line-down;
  font-size: 2em;
}

.line-up {
  grid-area: line-up;
  font-size: 2em;
}

.size {
  grid-area: size;
  cursor: pointer;
}

.al {
  grid-area: al;
}

.ac {
  grid-area: ac;
}

.ar {
  grid-area: ar;
}

.font {
  grid-area: font;
  font-size: 2em;
  border-radius: 0.5em;
  cursor: pointer;
}

.color-label {
  grid-area: color-label;
}

.color {
  grid-area: color-select;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.upload {
  grid-area: upload;
}

.download {
  grid-area: download;
}

.download a {
  text-decoration: none;
  color: black;
}

p {
  grid-area: p;
}

.add-sticker {
  grid-area: sticker;
  font-size: 1.5em;
}

.language-selector {
  border-radius: 0.5em;
  cursor: pointer;
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
