.memes-modal{
    display: none;
    position: fixed;
    text-align: center;
}

.memes-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 180px;
    justify-items: center;
}