


.buttons-container {
    margin-top: 2em;
    width: 400px;
    height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5em;
  grid-template-areas:
    ".          txt         txt         txt         ."
    "switch-line  add-line    remove-line line-down    line-up"
    "size         size        al          ac           ar"
    "font         font        .           color-label color-select"
    "upload        upload     facebook    download     download"
    "p            p           p           p           p ";
}

.text {
  grid-area: txt;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 2em;
border-radius: .5em;
text-align: center;
}

.switch-line {
  grid-area: switch-line;
}

.new-line {
  grid-area: add-line;
}

.remove-line {
  grid-area: remove-line;
}

.line-down {
  grid-area: line-down;
  width: 100%;
}

.line-up {
  grid-area: line-up;
}

.size {
  grid-area: size;
}

.al {
  grid-area: al;
}

.ac {
  grid-area: ac;
}

.ar {
  grid-area: ar;
}

.font {
  grid-area: font;
  font-size: 2em;
border-radius: .5em;
}

.color-label{
    grid-area: color-label
}

.color{
  grid-area: color-select;
  justify-self: center;
  align-self: center;
}

.upload {
  grid-area: upload;
}

.download {
  grid-area: download;
}

.download a{
    text-decoration: none;
    color: black;
    
}

p {
  grid-area: p;
}
.facebook {
    grid-area: facebook;
}



.meme-selector-container {
  display: grid;
}

.meme-selector-container .card {
  height: 200px;
  width: 200px;
}

.card img {
  height: 100%;
  width: 100%;
}
